/.codebase-memory/
/.console-mcp/
/.idea/
/.phpunit.cache/
/.phpunit.result.cache
/.php-cs-fixer.cache
/vendor/
/var/cache/
/var/log/
/var/*.sqlite
/var/storage/
/coverage/
/var/.php-cs-fixer.cache
*.zip

config/reference.php
*.bak
*.bak-*
